@model Product
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<form asp-action="Edit" method="post">
    <div>
        <label> Name:</label>
        <input asp-for="Name" name="Name" class="form-control" />
    </div>

    <div>
        <label> Quantity </label>
        <input type="number" name="Quantity" class="form-control mb-3">
    </div>

    <div>
        <label> Price </label>
        <input type="number" name="Price" class="form-control mb-3">
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>


</form>