@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<div class="text-end">
    <a asp-action="Create" class="btn btn-primary mb-3">Create New</a>
</div>
<table class="table table-striped mb-3">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>


</table>

